<%- include('../partials/header') %>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">
<label>
Author:
<input type="text" name="author" value="<%= book.author %>" autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length)">
</label>

<label>
Title:
<input type="text" name="title" value="<%= book.title %>">
</label>

<label>
Page Total:
<input type="number" name="pages" value="<%= book.pages %>">
</label>

<label>
Genre:
<input type="text" name="genre" value="<%= book.genre %>">
</label>

<button type="submit">Add Book</button>
<p><%= errorMsg %></p>

</form>



<%- include('../partials/footer') %>